.App {
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.triangle {
  display: inline-block;
  margin: 0 5px;
  vertical-align: middle;
}
.triangle-4 {
  width: 500px;
  height: 50px;
  border-bottom: solid 60px rgb(200,30,50);
  border-left: solid 30px transparent;
  border-right: solid 30px transparent;
}

.member-wrapper {
  margin-bottom: 30px;
  width: 45%;
}
.member {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    margin: auto;
    margin-bottom: 20px;
}
.hide {
  display: none;
}